* {
    margin: 0;
    padding: 0;
  }

body {
    font-family:  Georgia, 'Times New Roman', Times, serif;
    background-color: darkgrey;
}

header {
    background-image: url("../images/keyboard.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: white;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    color: white;
    text-decoration: none;
}

header nav {
    float: right;
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul li a:hover {
  background: var(--primary-color);
  color: grey;
  border-radius: 15px;
  text-shadow: none;
}

.meet-me p {
    text-align: center;
}

.projects div {
    text-align: center;
}

address {
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
}